<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8"/>
    <title>Boggle Time!</title>

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/bower_components/knockout/dist/knockout.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css"/>

    <style>
        .selected{
            background-color: #afd9ee;
        }
    </style>
</head>
<body>
    <div style="text-align: center">
        <b>Boggle Board</b>
        <table class="table">
            <tbody data-bind="foreach: rows">
                <tr data-bind="foreach: cols">
                    <td>
                        <input maxlength="1" pattern="[a-z]" style="text-align: center" data-bind="value: value, css: {selected: selected}"/>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-default" data-bind="click: solve">Solve me!</button>
    </div>

    <div style="text-align: center">
        <h3>Answers!</h3>
        <table class="table">
            <thead>
                <th>Word</th>
                <th>View</th>
            </thead>
            <tbody data-bind="foreach: results">
                <tr>
                    <td>
                        <b data-bind="text: word"></b>
                    </td>
                    <td>
                        <button type="button" data-bind="click: selectMe" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>

        var app = null;
        $(function(){
            app = new App();
            ko.applyBindings(app);
        });

    </script>
</body>
</html>